/* Add your CSS to this file */

:root{
    --navLink-color: #6b7280;
    --navLink-color-hover: #5a67d8;
    --hero-bg-color: #e2e8f0;
    --heading-color: #48bb78;
    --bg-color: #48BB78;
    --testing-bg: #4A5568;
    --default-font: -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
    
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    overflow-x: hidden;
    font-family: var(--default-font);
}


.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}


header .container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
}
header .container h1{
    font-size: 18px;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 14px;
    font-weight: 500;
}

ul li{
    list-style: none;
}
ul li a{
    
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--navLink-color);
}

.overview-hero{
    
    padding: 90px 0;
    background-color: var(--hero-bg-color);
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
main .overview-hero p{
    width: 90%;
}
main .overview-hero h2{
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: -10px;
    word-spacing: 1.7px;
}
main .overview-hero div{
    
    padding-left: 35px;
}
.overview-hero-image img{
    width: 190px;
    float: left;
    margin-right: 50px;
}



.learn-about{
    height: 80vh;
    margin-bottom: 20px;
}



.learn-about .container .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card:nth-of-type(1){
    /* padding: 10px; */
    padding-top: 50px;
    border: 1px solid var(--hero-bg-color);
    box-shadow: 0 2px 6px 0px rgba(107,114,128,0.9);
    border-radius:5px ;
    height: 440px;
    
}
.card:nth-of-type(2){
    /* padding: 5px; */
    padding-top: 20px;
    border: 1px solid var(--hero-bg-color);
    box-shadow: 0 2px 6px 0px rgba(107,114,128,0.9);
    border-radius:5px;
    height: 440px;
}

.card:nth-of-type(3){
    gap: 34px;
    /* padding: 5px; */
    padding-top: 20px;
    border: 1px solid var(--hero-bg-color);
    box-shadow: 0 2px 6px 0px rgba(107,114,128,0.9);
    border-radius:5px ;
    height: 440px;
}

.card:nth-child(1) img{
    width: 300px;
    margin-bottom: 48px;
}
.card:nth-child(2) img{
    width: 300px;
}
.card:nth-child(3) img{
    margin-bottom: 7px;
    width: 300px;
}
.learn-about h2{
    font-size: 24px;
    padding: 20px 0;
    color: var(--heading-color);
}

.card-body h3{
    color: var(--heading-color);
}
.cards .card .card-body {
    padding: 20px;
}


.testing {
    background-color: var(--testing-bg) ;
    height: 50vh;
    padding: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.testing .container{
    display: flex;
    color: white;
}

.testing .container h2{
    margin-bottom: 20px;
}
.testing .container p{
    width: 74%;
}

.cta a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.cta{
    position: relative;
    right: 100px;
    top: 40px;
    background-color: var(--bg-color);
    border-radius: 5px;
    height: 16%;
    width: 25%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}